.col-1
{
	border: 1px solid #999999;
	padding-top: 8%;
}

.bl
{
	background-color: white;
}

.noir
{
	background-color: black;
}

.or
{
	background-color: #F49010;
}

.jaune
{
	background-color: #F4C410;
}