.col-1
{
	border: 1px solid white;
	padding-top: 8%;
}

.bl
{
	background-color: white;
}

.noir
{
	background-color: black;
}

.or
{
	background-color: orange;
}

.jaune
{
	background-color: yellow;
}